.course-details {
    background: #fff;
}

.course-details__img-container {
    text-align: center;
}

.course-details__description {
    font-size: 1rem;
}

.course-details__tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__title {
    width: 100%;
}

.course-details__tag {
    padding: 0 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}